---
layout: default
---

<div class="site-home">
  <input class="search" type="text" placeholder="Search" />

  <nav>
    {% for post in site.posts %} {% capture year %} {{ post.date | date: '%Y' }}
    {% endcapture %} {% capture next_year %} {{ post.next.date | date: '%Y' }}
    {% endcapture %} {% if year != next_year %}
    <h2>{{ post.date | date: '%Y' }}</h2>
    {% endif %}
    <p>
      <small>{{ post.date | date: "%d %b" }}</small>
      <a class="post" href="{{ post.url }}">{{ post.title }}</a>
    </p>
    {% endfor %}
  </nav>

  <script>
    const input = document.getElementsByClassName("search")[0];
    input.addEventListener("input", (e) => {
      const posts = document.getElementsByClassName("post");
      for (const post of posts) {
        if (post.text.toLowerCase().indexOf(input.value.toLowerCase()) > -1) {
          post.closest("p").hidden = false;
        } else {
          post.closest("p").hidden = true;
        }
      }
    });
  </script>
</div>
