---
layout: default
---

<section class="site-post">
  <h1>{{ page.title | default: "Article" }}</h1>

  {% if page.date %}
  <p class="post-meta">
    {% if page.category %}
    <small>{{ page.category }} | </small>
    {% endif %}
    <time datetime="{{ page.date | date_to_xmlschema }}">
      <small>{{ page.date | date_to_long_string }}</small>
    </time>
  </p>
  {% endif %}

  <article>{{ content }}</article>

  {% if site.uttrances_repo %}
  {% include utterances.html %}
  {% endif %}
</section>
